.footer-inner {
  background-color: #002529;
}

.footer-item-link {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}

.footer-left {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.footer-left-in {
  display: flex;
  flex-direction: column;
}

.footer-pic {
  margin: 0 0 32px 0;
}

.left-item {
  display: flex;
  justify-content: space-between;
  @include header_logo
}

.left-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.left-link:hover {
  color: #F67E7E;
}

.left-text {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right-in {
  margin: 0 0 32px 0;
  text-align: right;
}

.right-pic {
  margin: 8px;
  fill: #FFFFFF;
}

.right-pic:hover {
  fill: #F67E7E;
}

.right-text {
  text-align: right;
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

@media only screen and (max-width:910px) {
  
  .footer-item-link {
    flex-direction: column;
  }

  .footer-left {
    width: 100%;
    max-width: 830px;
    padding: 0 0 32px 0;
  }

  .left-text {
    text-align: right;
  }

  .footer-right {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-right-in {
    text-align: center;
    margin: 0;
  }

  .right-text {
    text-align: center;
  }
}

@media only screen and (max-width:525px) {

  .footer-item-link {
    padding: 66px 0 64px 0;
  }

  .footer-left {
    flex-direction: column;
    align-items: center;
  }

  .footer-left-in {
    margin: 0 0 24px 0;
  }
  
  .left-text {
    text-align: center;
  }

  .footer-right {
    flex-direction: column;
  }

  .footer-right-in {
    margin: 0 0 24px 0;
  }




}